#your API key for connect to TMetric
apiKey 0000000000000000000000000000000000000000000000000000000000000000

#your salary in USD
salary 1000

#number of lines in invoice
quantityInInvoice 5

#for print data
print_invoice._name_en_ Ivan Ivanov
print_invoice._name_ru_ Иван Иванов
print_invoice._inn_ 012345678900
print_invoice._email_ example@gmail.com
print_invoice._phone_ +79000000000
print_invoice._registration_number_ 123456789000000
print_invoice._address_en_ Street st, 1, Tomsk, 634000, Russia
print_invoice._address_ru_ 634000, Россия, г. Томск, ул. Улица, д 1
print_invoice._account_number_ 40800000000000000000

print_invoice._customer_name_ Company Co., Ltd.
print_invoice._customer_address_ Company address
print_invoice._customer_phone_ Company phone
print_invoice._customer_email_ CompanyMail@gmail.com
print_invoice._customer_site_ www.CompanySite.com

print_invoice._bank_name_ My Bank
print_invoice._bank_address_ My Bank address
print_invoice._bank_swift_ My Bank swift
print_invoice._corr_bank_name_ Corr Bank
print_invoice._corr_bank_address_ Corr Bank address
print_invoice._corr_bank_swift_ Corr Bank swift
print_invoice._corr_bank_account_number_ Corr Bank account number

print_invoice._total_sum_en_ One thousand US Dollars
print_invoice._total_sum_ru_ Тысяча долларов США
print_invoice._unit_ Month <br> Месяц