#основное
[General]
conf_alias: RU
invoice_template: Invoice_template_RU.html
salary_amount = 1000
quantity_in_invoice = 4
salary_in_cursive_en: One thousand US Dollars
salary_in_cursive_ru: Одна тысяча долларов США
use_project_description: no

#подключение к TMetric
[TMetric API]
api_key: 0000000000000000000000000000000000000000000000000000000000000000
authorization: Bearer ${api_key}
accept: text/json

[GeneralForPrint]
unit: Month <br> Месяц

[Contractor]
name_ru: ИП Иванов Иван Иванович
name_en: Ivan Ivanov
inn: 123456789000
email: example@gmail.com
phone: +999999999999
registration_number: 123456789000000
address_en: Lenina street, 1, Tomsk, 634000, Russia
address_ru: 634000, Россия, г. Томск, ул. Ленина, д.1
account_number: 40800000000000000000

[Customer]
name : Company Co., Ltd.
address : Company address
phone : Company phone
email : CompanyMail@gmail.com
site : www.CompanySite.com

[ContractorBank]
name : My Bank
address : My Bank address
swift : My Bank swift
corr_name : Corr Bank
corr_address : Corr Bank address
corr_swift : Corr Bank swift
corr_account_number : Corr Bank account number