<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
      body{
        font-family: Open Sans
        size: 21cm 29.7cm;
        margin: 20mm 20mm 20mm 20mm
      }
      table{
        border-collapse:collapse;
      }
      td{
        border-left:solid;
        border-top:solid;
        border-right:solid;
        border-bottom:solid;
      }
      td.head_invoice {
        border-left:none;
        border-bottom:none;
        border-top:none;
        border-right:none;
        width:70%;
        vertical-align:top;
        font-size:9pt;
      }
      td.under_table{
        border-left:none;
        border-bottom:none;
        border-top:none;
        border-right:none;
      }
    </style>
</head>
<body>

  <table width="100%" cellspacing="0">
    <tr><td class="head_invoice" colspan="2">Executor: {{_name_en_}} (ITN# {{_inn_}})</td></tr>
    <tr><td class="head_invoice"><br></td></tr>
    <tr><td class="head_invoice">{{_address_en_}}</td></tr>
    <tr><td class="head_invoice"><br></td></tr>
    <tr><td class="head_invoice">{{_email_}}, {{_phone_}}</td></tr>
    <tr><td class="head_invoice"><br></td><td class="head_invoice"><br></td></tr>
    <tr><td class="head_invoice" style="font-size:12pt">INVOICE# {{_invoice_number_}}</td><td class="head_invoice" align="right" style="font-size:12pt">{{_invoice_day_}} {{_invoice_month_en_}} {{_invoice_year_}}</td></tr>
    <tr><td class="head_invoice"><br></td><td class="head_invoice"><br></td></tr>
    <tr><td class="head_invoice" colspan="2">Customer {{_customer_name_}}, {{_customer_address_}}, Ph: {{_customer_phone_}}</td></tr>
    <tr><td class="head_invoice" colspan="2">Email: {{_customer_email_}}, Website: {{_customer_site_}}</td></tr>
    <tr><td class="head_invoice"><br></td><td class="head_invoice"><br></td></tr>
    <tr>
      <td class="head_invoice" vertical-align="top"  style="font-size:7pt">
        1.By issuing this invoice the Executor informs the Customer, that the contract conditions listed below have been fulfilled.<br>
        2.By full or partial paying this invoice the Customer confirms that all the contract conditions listed below have been utterly
        fulfilled in due time and with adequate quality. And confirms mutual agreement to use fax or electronic-digital signatures and
        stamps reproduction in transactions.<br>
        3.In case the invoice has not been paid within <b>thirty</b> days from the date of its issuance, the work shall be deemed not
        performed.<br>
        4.Correspondent bank fee is paid by the Executor
      </td>
    </tr>
  </table>
  <br>
  <br>
  <table width="100%" cellspacing="0" cellpadding="2" style="font-size:8pt">
    <tr bgcolor="#000000" align="center">
      <td width="3%"><font color="#ffffff">#<br>№</font></td>
      <td><font color="#ffffff">Contract conditionals (services)</font></td>
      <td><font color="#ffffff">Amount</font></td>
      <td width="5%"><font color="#ffffff">Unit</font></td>
      <td width="8%"><font color="#ffffff">Price</font></td>
      <td width="10%"><font color="#ffffff">Total</font></td>
    </tr>
    <tr>
      <!-- table_line -->
    </tr>
    <tr>
      <td class="under_table" colspan="2"><b>Total sum:</b> {{_total_sum_en_}}</td>
      <td class="under_table"  colspan="3" align="right"><b>Sub Total</b></td>
      <td align="right">US${{_salary_}}</td>
    </tr>
    <tr>
      <td class="under_table" colspan="2"></td>
      <td class="under_table"  colspan="3" align="right"><b>No VAT</b></td>
      <td align="right"> - </td>
    </tr>
    <tr>
      <td class="under_table" colspan="5" align="right"><b>Grand Total</b></td>
      <td align="right">US${{_salary_}}</td>
    </tr>
  </table>
  <br>
  <table width="100%">
    <tr>
      <td class="head_invoice" width="50%"></td>
      <td class="head_invoice" width="50%">{{_name_en_}}</td>
    </tr>
    <tr>
      <td class="head_invoice" width="100%" colspan="2"><br></td>
    </tr>
    <tr>
      <td class="head_invoice" width="50%"></td>
      <td class="head_invoice" width="50%">By</td>
    </tr>
  </table>
  <br>

  <table width="100%" cellspacing="0" cellpadding="2" style="font-size:7pt">
    <tr>
      <td class="head_invoice">
        <b>Wire transfer information</b>
      </td>
    </tr>
    <tr>
      <td>
        {{_name_en_}}, {{_address_en_}}, Account No. {{_account_number_}}, ITN#/INN {{_inn_}} <br>
        Beneficiary
      </td>
    </tr>
    <tr>
      <td>
        {{_bank_name_}}, {{_bank_address_}}, SWIFT: {{_bank_swift_}}<br>
        Beneficiary’s Bank
      </td>
    </tr>
    <tr>
      <td>
        {{_corr_bank_name_}}, {{_corr_bank_address_}}, SWIFT: {{_corr_bank_swift_}}, account no. {{_corr_bank_account_number_}}<br>
        Correspondent bank
      </td>
    </tr>
    <tr>
      <td>
        Payment against invoice #{{_invoice_number_}} Work accepted.<br>
        Details of payment
      </td>
    </tr>
  </table>
  <br>

</body>
</html>